.item {
    transition: all 0.5s;
    text-align: center;
    &:hover {
        transform: translateY(-10%);
        .imageInfo{
            background: red; 
            img {
                filter: invert(5) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
            }
        }
        .numberInfo{
            color: red;
        }
        .textInfo{
            color: red;
        }
    }
}

.imageInfo{
    transition: 0.5s;
    height: 80px;
    width: 80px;
    background: #D5E2F3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    img {
        transition: 0.5s;
    }
}

.numberInfo{
    transition: 0.5s;
    margin: 20px;
    color: #065A9E;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    .charactor{
        font-size: 16px;
    }

}

.textInfo{
    text-transform: capitalize;
}
