.contents {
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
    &:hover {
        transform: translateY(-5%);
        box-shadow: 0px 4px 10px #c0d2eb;
    }
}

.itemImg {
    img {
        width: 100%;
        height: 220px;  
    }
}

.info {
    padding: 20px;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
}

.title {
    color: #1C3967;
    font-weight: 600;
    font-size: 17px;
}

.date {
    font-size: 15px;
    margin-bottom: 10px;
}
