.pagination {
    display: block;
    float: right;
    button { 
        background-color: #fff;
        border: 1px solid rgb(254, 13, 13);
        color : red;
        margin-right: 10px;
        padding: 5px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 5px;
        font-weight: bold;
        padding: 5px 20px;
        &:disabled {
            color : #000;
            cursor: no-drop;
            opacity: 0.3;
            border: 0;
        }
    }
}